@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Montserrat:wght@700&display=swap');

:root{
    --main-color: #223F49;
	/* --sub-color: rgba(255, 184, 0, 1); */
    --black:#13131a;
    --bg:#010103;
    --border: .2rem solid var(--main-color);
	--box-shadow: .8rem .8rem .8rem .3rem rgba(0, 0, 0, 0.25);
    --title-text: 'Montserrat', sans-serif;
    --content-text: 'Prata', serif;
}
*{
    font-family: var(--title-text);
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: #fff;
}
section{
    padding: 3rem 2rem;
    max-width: 1400px;
    margin: 0 auto;
 }
.header{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    /* border-bottom: .2rem solid var(--main-color); */
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}
.header .logo img{
    height: 7rem;
}
.header .icon div{
    color: var(--black);
    cursor: pointer;
    font-size: 5rem;
    margin-left: 2rem;
}
.header .icon div:hover{
    color:var(--main-color);
}

.title{
    padding-top: 10rem;
    padding-bottom: 0;
}
.title h1{
    font-size: 4rem;
    font-weight: 200;
    margin: 2rem;
    padding-top: 10rem;
    border-top: var(--border);
}
.intro{
    padding-top: 0;
}

.intro .row .content{
    background: url(../img/pool_png/img_1.png);
    display: grid;
    place-content: center;
    /*text-align: left;
    padding-top: 8rem;
      */
    font-family: 'Montserrat', sans-serif;
    background-position: center;
    gap: 1.5rem;
    padding-left: 10%;
    align-items: center;
    text-align: left;
    padding-left: 45%;
    height: 45vh;
    object-fit: cover;
    padding-top: 0;
    padding-bottom: 0;
    text-transform: capitalize;
}
.intro .row .content h2{
    padding-top: 3rem;
    color: #fff;
    font-size: 6rem;
    padding-bottom: 8rem;
}

.intro .row .content p{
    color: #fff;
    font-size: 6rem;
    padding-bottom: 8rem;
}

.box1 .content h2{
    font-size: 4rem;
    font-weight: 200;
    margin: 2rem;
    padding-top: 10rem;
    border-bottom: var(--border);
}
.box1  .image{
    flex: 1 1 40rem;
 }
 
 .box1 .image img{
    height: 90vh;
    width: 100%;
    object-fit: cover; 
 }
 .box2{
    padding-bottom: 20rem;
 }
 .box2 .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
    padding-left: 5%;
 }
 
 .box2 .row .image{
    flex: 1 1 40rem;
    margin-left: 5%;
 }
 
 .box2 .row .image img{
    width: 45vw;
 }
 
 .box2 .row .content{
    flex:1 1 40rem;
    text-align: center;
 }
 
 .box2 .row .content h2{
    font-family: var(--content-text);
    font-size: 5rem;
    color: var(--main-color);
    text-transform: capitalize;
    margin-bottom: 1rem;
 }
 
 .box2 .row .content p{
    line-height: 1.5;
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--main-color);
    font-family: var(--title-text);;
    text-transform: none;
 }

 /*footer section*/
.footer{
	background:var(--main-color);
	text-align: center;
}

.footer .share{
	padding:1rem 0;
}

.footer .share a{
	height: 5rem;
	width: 5rem;
	line-height: 5rem;
	font-size: 2rem;
	color:#fff;
	border:var(--border);
	margin:.3rem;
	border-radius: 50%;
}


.footer .share a:hover{
	background-color: var(--sup-color);
}

.footer .links{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding:2rem 0;
	gap:1rem;
}

.footer .links a{
	padding:.7rem 2rem;
	color:#fff;
	border:var(--border);
	font-size: 2rem;
}

.footer .links a:hover{
	background:var(--sup-color);
}

.footer .credit{
	color:#fff;
	font-weight: lighter;
	font-size: 2rem;

}

.footer .credit .developer-info a{
	color:  rgba(255, 184, 0, 1);
	font-weight: 400;
	font-size: 2rem;
}
.footer .credit .mail{
	color:  rgba(255, 184, 0, 1);
	font-weight: 400;
	font-size: 2rem;
}
.footer .credit .developer-info{
	font-size: 2rem;
}
.footer .credit .orignal{
	color: #fff;
	font-size: 16px;
	margin-bottom: 15px;
}